<!DOCTYPE html>
<html>
<head>
    <title>FL_ACT2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        body {
            background-image: url('/Main/fonsEnCons.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .button-container {
            position: fixed;
            top: 10px;
            left: 10px;
        }

        .button-container-main {
            position: fixed;
            bottom: 10px;
            right: 10px;
        }

        .button-container a,
        .button-container-main a {
            display: inline-block;
            transition: transform 0.2s;
        }

        .button-container a:hover,
        .button-container-main a:hover {
            transform: scale(1.1);
        }

        .img-zoom img:hover {
            transform: scale(1.1);
            transition: transform 0.2s;
        }

        .img-zoom a {
            text-decoration: none;
            border: none;
            padding: 0;
            margin: 0;
            outline: none;
        }

        #m10 {
            margin-left: -150px;
            margin-right: auto;
            display: block;
        }
    </style>
</head>
<body>
    <div class="button-container">
        <a href="/main">
            <img src="/Casos Practics/BotoEnBlanc.png" alt="TORNAR">
        </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
